---
- name: ensure apt packages are present
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - iperf3
    - python3
    - python3-dev
    - python3-setuptools
    - python3-pip

- name: ensure pip3 packages are present
  become: true
  pip:
    name: "{{ item }}"
    executable: pip3
  loop:
    - twisted

- name: create testing-server folder
  file:
    path: /home/{{ ansible_user }}/testing-server
    state: directory

- name: copy server.py to server
  copy:
    src: server.py
    dest: /home/{{ ansible_user }}/testing-server/server.py

- name: ensure correct SERVER_PORT line is in file
  lineinfile:
    path: /home/{{ ansible_user }}/testing-server/server.py
    regexp: '^SERVER_PORT = '
    line: 'SERVER_PORT = {{ iperf_port }}'

- name: ensure correct IPERF3_SERVER_PORT_MIN line is in file
  lineinfile:
    path: /home/{{ ansible_user }}/testing-server/server.py
    regexp: '^IPERF3_SERVER_PORT_MIN = '
    line: 'IPERF3_SERVER_PORT_MIN = {{ min_iperf_port }}'

- name: ensure correct IPERF3_SERVER_PORT_MAX line is in file
  lineinfile:
    path: /home/{{ ansible_user }}/testing-server/server.py
    regexp: '^IPERF3_SERVER_PORT_MAX = '
    line: 'IPERF3_SERVER_PORT_MAX = {{ max_iperf_port }}'

- name: copy sockperf to server
  copy:
    src: sockperf-x86-64
    dest: /home/{{ ansible_user }}/testing-server/sockperf
    mode: 0775

- name: copy iperf3-server.service to /etc/systemd/system/iperf3-server.service
  become: true
  template:
    src: iperf3-server.service
    dest: /etc/systemd/system/iperf3-server.service
    mode: 0777

- name: copy sockperf-server.service to /etc/systemd/system/sockperf-server.service
  become: true
  template:
    src: sockperf-server.service
    dest: /etc/systemd/system/sockperf-server.service
    mode: 0777

- name: activate iperf3-server service
  become: true
  systemd:
    name: iperf3-server
    enabled: true
    state: restarted
    daemon_reload: true

- name: activate sockperf-server service
  become: true
  systemd:
    name: sockperf-server
    enabled: true
    state: restarted
    daemon_reload: true
