[Unit]
Description=SSH local tunnel
After=network.target

[Service]
User=nanopi
ExecStart=/usr/bin/python3 /home/nanopi/schedule.py
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
