[Unit]
Description=scheduled network testing
After=network.target

[Service]
User=nanopi
ExecStart=/usr/bin/python3 -u /home/nanopi/schedule.py {{ test_host }} {{ iperf_port }} {{ sockperf_port }} {{ management_host_tunnel }} {{ management_port_tunnel }} {{ info_path }} {{ ping_result_path }} {{ iperf3_result_path }} {{ sockperf_result_path }} {{ test_time.stdout_lines[0] }}
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
