[Unit]
Description=sockperf server
After=network.target

[Service]
ExecStart=/home/{{ ansible_user }}/testing-server/sockperf server -p {{ sockperf_port }}
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
