[Unit]
Description=uWSGI Server
After=network.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /home/adam/management/uwsgi.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
